*{
  text-align: center;
  justify-content: center;
  max-width: '100%';
  
}

nav a:hover {
  border-bottom: 3px solid black;
  color: 'white'
}

@media only screen and (orientation: portrait) {
   .drop-down {
     margin-right: "1rem";
   }
}
